
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDEs
.vscode/
.idea/

# Logs
*.log

# Docker
.docker/

#ignore node_modules
node_modules/



# Other files/folders to ignore
**/__pycache__/
**/build/